body{
    margin: 0;
    background-color: black;
    color: white;    
    
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
    
#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
#input-task{
    width: 300px;
    height: 50px;
    border-radius: 20px;
    color: black;
    transition: 0.2s;
    border: none;
}
#input-task:hover{
    background-color: rgba(255, 255, 255, 0.799);
}
#bnt-task{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    transition: 0.2s;
    border: none;
    justify-content: center;
    align-items: center;
    border-color: antiquewhite;
}
#bnt-task:hover{
    background-color: rgba(255, 255, 255, 0.799);
    cursor: pointer;
}
#mostra-task{
    display: flex;
    flex-direction: column;
    gap: 2rem;  
    padding: 0;
}
#mostra-task li{
    list-style-type: none;
    font-size: 1.5rem;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    width: 300px;
}
#mostra-task li:hover{
    left: 30px;
}
#bnt-confirm-task{
    border-radius: 20px;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    transition: 0.6s;
}
#bnt-confirm-task:hover{
    background-color: rgb(9, 255, 9);
    cursor: pointer;
}